@model QuanLyBanHang.Models.TaiKhoan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}


@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_adduser.css" />
}
<div class="container">
    <div class="header-content">
        <h2>Cập nhật adminn</h2>
    </div>
    <hr />
    <div class="content-content">
        <div class="content-content">
            <form asp-action="EditAdmin" method="post">
                <label asp-for="TaiKhoanId" >Mã tài khoản</label>
                <input type="text" asp-for="TaiKhoanId" readonly />

                <label asp-for="Username" >Tên đăng nhập</label>
                <input asp-for="Username" class="form-control" type="text" required="" />
               

                <label asp-for="Password" >Mật khẩu</label>
                <input asp-for="Password" class="form-control" type="password" required="" />
                

                <label asp-for="NgayTao">Ngày tạo</label>
                <input asp-for="NgayTao" class="form-control" type="datetime" readonly required="" />
                


                <label asp-for="VaiTroId" >Vai trò</label>
                <input asp-for="VaiTroId" class="form-control" type="text" readonly />
                
                

                <div class="row add_cancel" style="float: right;">
                    <input type="submit" value="Cập nhật" id="btnadd" style="margin-right:3px">
                    <a class="btn btncancel" asp-action="GetAdmin" id="cancel-button">Hủy bỏ</a>
                </div>
            </form>
        </div>
    </div>

   
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
