
@{
    ViewData["Title"] = "Error";
    Layout = "";
}

<h2>Nhập sai mã xác thực</h2>
<h2>
    <form method="post" action="/XacNhanDonHang/Again">
        <input type="submit" value="Gửi lại mã"/>
    </form>
</h2>
<h2><a href="/homepage">Trở về trang chủ</a></h2>

