@{
    ViewData["Title"] = "Layout_Admin.cshtml";
}
@*<?php
    session_start();
    if (!isset($_SESSION['username'])) {
       header('Location: ../login.php');
      }

    ?>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/jquery-3.2.1.min.js">
    <title>Quản lý bán hàng</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/bootstrap-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/admin/custom/common.css">
    @RenderSection("Links", required: false)
    <style type="text/css" media="screen">
        .vertical-menu {
            width: 100%;
            height: 600px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <header class="container-fluid">
        <div class="row envent_login_logout">
            <h2>Trang chủ</h2>
            <div class="row login_logout">
                <a class="login" title="Account" href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                </a>
                
              
                <a class="logout" title="Logout" href="logout.php ">
                    <i class="fa fa-sign-out"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="menu col-xs-3 col-sm-3 col-lg-3">
                <div class="list-group">
                    <ul>
                        <li><a class="list-group-item" href="home.php" title="Homepage"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Trang chủ</a></li>
                        <li>
                            <a class="list-group-item user-management" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Quản lý tài khoản</a>
                            <ul class="menu-usesmanagement">
                                <li><a class="list-group-item users child" asp-controller="TaiKhoan" asp-action="GetAdmin"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Admin</a>
                                <li><a class="list-group-item users child" asp-controller="TaiKhoan" asp-action="GetNhanVien"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Nhân viên</a>
                                <li><a class="list-group-item roles child" asp-controller="TaiKhoan" asp-action="GetKhachHang"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Khách hàng </a>
                            </ul>
                        </li>
                        <li>
                            <a class="list-group-item user-management" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Quản lý nhân viên và khách hàng</a>
                            <ul class="menu-usesmanagement">
                                <li><a class="list-group-item users child" asp-controller="NhanVien" asp-action="Index"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Nhân viên </a>
                                <li><a class="list-group-item roles child" asp-controller="KhachHang" asp-action="Index"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Khách hàng </a>
                            </ul>
                        </li>
                        <li>
                            <a class="list-group-item user-management" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Quản lý sản phẩm</a>
                            <ul class="menu-usesmanagement">
                                <li><a class="list-group-item users child" asp-controller="SanPham" asp-action="Index"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Danh sách sản phẩm</a>
                                <li><a class="list-group-item roles child" href="listproducts.php?product=empty"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Các sản phẩm đã hết</a>
                            </ul>
                        </li>
                        <li>
                            <a class="list-group-item user-management" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Quản lý hóa đơn</a>
                            <ul class="menu-usesmanagement">
                                <li><a class="list-group-item users child" asp-controller="HoaDon" asp-action="Index"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Danh sách hóa đơn chưa xử lí</a>
                                <li><a class="list-group-item users child" asp-controller="HoaDon" asp-action="Index1"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Danh sách hóa đơn đã xử lí</a>
                            </ul>
                        </li>
                        <li>
                            <a class="list-group-item user-management" asp-controller="KhuyenMai" asp-action="Index"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Quản lý khuyến mãi</a>
                        </li>
                        <li>
                            <a class="list-group-item user-management" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Lập báo cáo</a>
                            <ul class="menu-usesmanagement">
                                <li><a class="list-group-item users child" href="baocaoton.php"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Báo cáo tồn</a>
                                <li><a class="list-group-item roles child" href="baocaodoanhthu.php?month=all&year=all"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Báo cáo doanh thu</a>
                                <li><a class="list-group-item roles child" href="baocaocongno.php?id=all"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Báo cáo công nợ</a>
                            </ul>
                        </li>
                        <li>
                            <a class="list-group-item user-management" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Quản lý chung</a>
                            <ul class="menu-usesmanagement">
                                <li><a class="list-group-item users child" asp-controller="NhaCungCap" asp-action="Index"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Danh sách nhà cung cấp</a>
                                <li><a class="list-group-item users child" asp-controller="PhieuNhap" asp-action="Index"><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>&nbsp; Danh sách phiếu nhập</a>
                            </ul>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="content col-xs-9 col-sm-9 col-lg-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/admin/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>