@model QuanLyBanHang.Models.NhanVien

@{
    ViewData["Title"] = "Details";
    Layout = "";
}
<h1>Nut in</h1>
<form method="post" action="NhanVien/Details"><input type="submit" value="In"/></form>
    <form id="formchitiet" asp-action="Deatails" method="Get">
        <div id="popup-them-header" class="font-weight-bold" style="color:white">Chi tiết nhân viên</div>
        <div id="popup-them-body">
            <div class="col-6 d-inline-block" id="div-trai">
                <div class="form-group row">
                    <label for="them_tensanpham" class="col-5 col-form-label font-weight-bold">Mã nhân viên</label>
                    <div class="col-sm-7">
                        <input readonly class="form-control" type="text" asp-for="NhanVienId" aria-describedby="emailHelp" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="them_ho" class="col-5 col-form-label font-weight-bold">Họ và tên</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" asp-for="HoTen" aria-describedby="emailHelp">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="them_ngaysinh" class="col-5 col-form-label font-weight-bold">Ngày sinh</label>
                    <div class="col-sm-7">
                        <input type="datetime-local" class="form-control" asp-for="NgaySinh" aria-describedby="emailHelp">
                    </div>
                </div>
               <br />
            </div>

            <div class="col-6 float-right" id="div-phai">
                <div class="form-group row">
                    <label for="them_diachi" class="col-4 col-form-label font-weight-bold">Địa chỉ</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="DiaChi" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="them_email" class="col-4 col-form-label font-weight-bold">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 font-weight-bold" for="them_sdt">Số điện thoại</label>
                    <div class="col-sm-8">
                        <input type="tel" class="form-control" asp-for="Sdt" aria-describedby="emailHelp">
                    </div>
                </div>

            </div>

        </div>
        <div id="popup-body-button" class="float-right  mb-3 mt-2">
            <a onclick="Update(@Model.NhanVienId)" class="btn btn-success " id="update-staff">Edit</a>
            <button type="button" class="btn btn-danger" id="cancel-button">Hủy bỏ</button>
        </div>


    </form>