@model QuanLyBanHang.Models.KhachHang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}
@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_adduser.css" />
}

<div class="container">
    <div class="header-content">
        <h2>Thêm khách hàng</h2>
    </div>
    <div class="content-content">
        <form id="addproduct" asp-action="Create" enctype="multipart/form-data" method="post">
            <label asp-for="HoTen">Họ và tên</label>
            <input type="text" id="name" required="" asp-for="HoTen">

            <label asp-for="NgaySinh">Ngày sinh</label>
            <input asp-for="NgaySinh" type="datetime-local" id="ngaysinh" required="">

            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" id="email" required="">

            <label asp-for="Sdt">Số điện thoại</label>
            <input asp-for="Sdt" type="tel" id="sdt" required="" >

            <label asp-for="DiaChi">Địa chỉ</label>
            <input asp-for="DiaChi" type="text" required="" id="diachi" >



            <label asp-for="TaiKhoan.Username">Tên đăng nhập</label>
            <input asp-for="TaiKhoan.Username" type="text" id="username" required="" >

            <label asp-for="TaiKhoan.Password">Mật khẩu</label>
            <input asp-for="TaiKhoan.Password" type="text" id="matkhau" required="" >

            <label asp-for="TaiKhoan.NgayTao">Ngày tạo</label>
            <input asp-for="TaiKhoan.NgayTao" type="datetime" value="@DateTime.Now" id="ngaytao" required="" readonly>

            <div class="clearfix"></div>
            <div class="row add_cancel" style="float: right;margin-right: 5px;">
                <input type="submit" value="Thêm" id="btnadd" style="margin-right:3px">
                <a class="btn btncancel" asp-action="Index" id="cancel-button">Hủy bỏ</a>
            </div>
        </form>
    </div>
</div>




