.form-control {
    background-color: #ced4da;
    color: #545b62;
}

.form-group label {
    color: #495057;
    margin-bottom: 0px;
}

.custom-select {
    background-color: #ced4da;
    color: #545b62;
}

.themkhuyenmai {
    margin: 0 2% 0 2%;
   padding:0 3% 0 3%;
}
.chitietkm {
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 2% 0 2%;
    padding:3%;
}

.event {
    text-align: center;
}

.tablechitietkm {
    text-align: center;
    margin:2%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr {
    border-bottom: solid 1px #C6C6C6;
}

    tr:nth-child(1) {
        background-color: black !important;
        color: white;
    }

    tr:hover {
        background-color: #dddddd;
    }

td .fa {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.fa-trash-o {
    font-weight: normal !important;
}

td li {
    display: inline;
    margin-right: 4px;
}


/*input[type="checkbox"] {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	-webkit-appearance: none;
	background-color: #1f2e3e;
	position: relative;
	box-sizing: content-box;
	transition: all 0.1s linear;*/

th {
    text-align: center;
}

td {
    text-align: center;
    background-color: white;
    color: black;
}

    td img {
        max-width: 54px;
        height: auto;
    }


        /*@* th:nth-child(2), td:nth-child(2) {
	width: 20%;
}

th:nth-child(3), td:nth-child(3) {
	width: 10%;
}

*@*/

       
