
.header-content {
    margin: 20px 0 30px 0;
    border-bottom: solid 2px black;
    padding-bottom: 8px;
}

    .header-content h2 {
        display: inline;
    }

    .header-content h4 {
        font-weight: bold;
        display: inline;
        font-size: 20px;
        margin-left: 15px;
    }

.content .container {
    width: 95%;
}

label {
    width: 30%;
}

input[type=text], input[type=date], input[type=number] {
    display: inline;
    width: 60%;
    padding: 5px 15px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F5F1F2;
}

select {
    display: inline;
    width: 170px;
    padding: 8px 18px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 3px 15px;
    color: white;
    background-color: #272F44;
}

.submit_cancel {
    float: right;
    margin-right: 10px;
}

.btncancel {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 3px 15px;
    color: black;
    background-color: white;
}

.content-content {
    padding: 20px 0px 20px 0px;
}

.tablechitietkm {
    text-align: center;
    margin: 2%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr {
    border-bottom: solid 1px #C6C6C6;
}

    tr:nth-child(1) {
        background-color: black !important;
        color: white;
    }

    tr:hover {
        background-color: #dddddd;
    }

td .fa {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.fa-trash-o {
    font-weight: normal !important;
}

td li {
    display: inline;
    margin-right: 4px;
}

th {
    text-align: center;
}

td {
    text-align: center;
    background-color: white;
    color: black;
}